@font-face {
  font-family: 'BNKGothic';
  src: url('../fonts/BNKGothic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body{
    font-family: 'BNKGothic';
    margin: 0;
    padding: 0;
}

body {
  color: #1b2e44;
}

.wrapper {
  display: flex;
  justify-content: center; /* 수평 정렬 */
  align-items: start;     /* 수직 정렬 */
  height: 100vh;           /* 화면 전체 높이 */
  background-image: url("../images/bg_image.jpg");
  text-align: center;
}

#jewel_img{
    width: 400px;
    height: 300px;
    border: none;
    border-radius: 15px;
}

.content_title{
    margin-top: 100px;
    text-align: center;
    padding-bottom: 30px;
}

.jewel_title{
    font-size: 30px;
    text-align: start;
    padding: 15px;
}


.jewel_content {
  width: 300px;         /* 최대 너비 지정 */
  word-wrap: break-word; /* 단어 중간이라도 줄바꿈 허용 */
  white-space: normal;   /* 텍스트 자동 줄바꿈 허용 */
  text-align: start;
  padding: 3px;
}

#jewel_box{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
}

.main_btn{
    font-weight: bold;
    width: 200px;
    padding: 5px;
    background-color: rgba(158, 217, 245, 0.7);
    border: solid 1px;
    border-color: rgba(255,255,255);
    border-radius: 20px;
    margin-top: 20px;
}

#btn{
    display: flex;
    justify-content: center;
    gap: 100px; /* 버튼 사이 간격 */
    margin-top: 20px;
}


.main_btn:hover{
    background-color: #1b2e44;
    border-color: rgb(255,255,255);
    color: white;
}


#content{
    text-align: center;
}

/* 데스크탑 이상 */
@media (min-width: 1024px) {
    .content_title{
        margin-top: 60px;
        text-align: center;
        padding-bottom: 30px;
        font-size: 30px;
    }

    #jewel_img{
        width: 600px;
        height: 400px;
        border: none;
        border-radius: 15px;
    }


    .jewel_content {
        width: 500px;         /* 최대 너비 지정 */
        word-wrap: break-word; /* 단어 중간이라도 줄바꿈 허용 */
        white-space: normal;   /* 텍스트 자동 줄바꿈 허용 */
        text-align: start;
        font-size: 20px;
        padding: 5px;
    }
}