<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <title>전체 탄생석 리스트</title>
  <link rel="stylesheet" th:href="@{/css/allList.css}">
</head>
<body>
  <h1>전체 탄생석 리스트</h1>
  <hr>

  <table>
    <thead>
      <tr>
        <th>월</th>
        <th>탄생석명</th>
        <th>탄생석 설명</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="stone : ${list}">
        <td th:text="${stone.month}"></td>
        <td th:text="${stone.name}"></td>
        <td th:text="${stone.explan}"></td>
      </tr>
    </tbody>
  </table>

  <form action="/" method="get">
    <button>메인으로</button>
  </form>
</body>
</html>